; Name of the data block we are creating
; [Full Telemetry]

; Remember to change the channel count if removing any channels
[Digital Counter] [D6FE3751-EB74-44E0-AA98-5BD70D42A3E7] [7]  [computerClock] [index] [ticks] [ones] [tens] [hundreds] [thousands]
[ClockSync] [E247A5C7-4CCA-403C-BA60-089334450943] [3]  [computerClock] [index] [filetime]
